.button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.box {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}